# dist folder, anyway Dockerfile should build its own
build/

# node_module, Dockerfile should install its own
node_modules/

# .env.local
.env.local

# README files
README.md

.git/
.docker/
!.docker/files/entrypoint.sh
!.docker/files/nginx.conf
